@import "./../styles/variables.scss";

.contact{
    height: 100%;
    margin: 4rem;
    h1{
        text-align: center;
    }
    .form{
        height:auto;
        margin:3rem;
        display: flex;
        justify-content:center;
        align-items: center;
        flex-direction: column;
        margin:4rem;
        padding:3rem;
      

        input{
            margin:1rem;
        }
        button{
            font-weight: 500;
            color:$primary;
            background-color: rgb(219, 198, 233);
            border:2px solid $primary;
            padding:$spacing-sm $spacing-md;
            border-radius: calc($spacing-sm/2);
            cursor:pointer;
            margin-top: 2rem;
            box-shadow: 0 0 0.5em 0 $primary;
            margin-left: 30px;
        
            &:active{
                transform:scale(0.98);
                border-radius: 0;
            }
            &:hover{
                box-shadow: 0 0 0.75em 0 $primary;
            }
        }
    }


}