@import "./../styles/variables.scss";

.footer {
   

    color: $text2;
    padding: 1rem 2rem;
    background: rgb(233, 224, 224);
    @include breakpoint(md) {
    color: $text2;
    padding: 1rem 4rem;
    background: rgb(233, 224, 224);
    }

    .footer_content {
        background: rgb(233, 224, 224);

        @include breakpoint(md) {
            background: rgb(233, 224, 224);
            display: flex;
            flex-direction: row;
            
        }
    }

    @include breakpoint(md) {
        background: rgb(233, 224, 224);
      
        color: $text2;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }

    a {
        list-style: none;
        text-decoration: none;
        color: $text2;
    }

    p {
        color: $paragraph;
    }

    .left {
        .logo {
            width: 200px;
            height: 70px;

            @include breakpoint(md) {
                width: 200px;
                height: 70px;
               
            }
        }

        @include breakpoint(md) {

            display: flex;
            justify-content: space-around;
            flex-direction: column;
            width: 200px;
        }
    }

    .center {


        @include breakpoint(md) {
            height: 200px;
            display: flex;
            justify-content: space-around;
            flex-direction: column;
            width: 200px;
            margin-left:400px;

        }

        .links {
            display: flex;
            justify-content: space-around;
            flex-direction: column;

            @include breakpoint(md) {

                display: flex;
                justify-content: space-around;
                flex-direction: column;
            }

            .nav_item {
                padding: 0.2rem 0;
            }
        }
    }

    .right {



        @include breakpoint(md) {
            height: 190px;
            display: flex;
            justify-content: space-around;
            flex-direction: column;
            margin-left:300px;
        
        }

        .links {
            display: flex;
            justify-content: space-around;
            flex-direction: column;

            @include breakpoint(md) {

                display: flex;
                justify-content: space-around;
                flex-direction: column;
            }

            .nav_item {
                padding: 0.4rem 0;
            }
        }
    }
}